/*img#marcosfeio {
    width: 4px;
    height: 4px;
}*/
body{
    background: url("kite.jpg");
    color: black;
}
header{
    color: crimson;
}
h1#titulo{
    font-size: 60px;
    
}

footer{
    font-size: 30px;
}
#botão1{
    width: 300px;
    height: 100px;
}
p{
    font-size: 25px;
    color: rgb(251, 255, 0);
}
section {
    background-color: black;
    border-radius: 20px;
    box-shadow: 00px 00px 00px white;
    padding: 20px;
    margin: 80px;


}
backgroundImage {
    width: 100px;
    height: 50px;
}
button{
    font-family: 'Lucida Sans'
    font-size: 30px;
}

nav#menu ul{
    list-style: none;
}
nav#menu li{
    display: inline-block;
    background-color: rgb(15, 15, 15);
    padding: 20px;
    margin: 0px;
    padding-top: 10px;
    color: rgb(252, 250, 250);
    
}
nav#menu h1 {
    display: none;
}

nav#menu a{
    text-decoration: none;
    color: green;
}
nav#menu a:hover{
    color: white;
}
nav#menu {
    
    font-size: 25px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1366px;
    background-color: rgb(15, 15, 15);
}